*.json
.env
__pycache__/
*.pyc
*.bak
*.lua
venv/
utils/__pycache__
*.tmp
maps/__init__.py
maps/dew_finds_map.html
data/dew_map.db
data/uploads/*

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
